[user]
	email = louoso@users.noreply.github.com
  name  = Louis Vera

[alias]
  aa      = add -A
  st      = status
  cm      = commit
  br      = branch
  co      = checkout
  ls      = ls-files
  hist    = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  rh      = reset --hard
  rs      = reset --soft

[color]
  # turn on color
  ui = true

[color "status"]
  added     = green
  changed   = cyan
  untracked = red

[color "branch"]
  current = green
  local   = cyan
  remote  = cyan 

[push]
  # 'git push' should only do the current branch, not all
  default = current

[branch]
  # always setup 'git pull' to rebase instead of merge
  autosetuprebase = always

[format]
  pretty = format:%C(cyan)%h%n%Creset%an <%ae>%n%cr%n%n%w(63,4,4)%s%n%+b

[core]
  autocrlf = input
  excludesfile = ~/.gitignore-global

[fetch]
  prune = true

[pager]
  stash = false
